th {
    position: relative;
    cursor: pointer;
  }
  

  th::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    background-image: url("/static/sort-asc-3.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  th[data-sort="asc"]::before {
    background-image: url("/static/sort-asc-3.png");
  }
  
  th[data-sort="desc"]::before {
    background-image: url("/static/sort-desc-3.png");
  }
  