/* General */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --blue:rgb(33, 158, 188);
  --dark-blue: rgb(2, 48, 71);
  --orange:rgb(251, 133, 0);
}

*{
  font-family: 'Open+Sans', sans-serif;
  font-size: .9rem;
}

body {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* Header */
header {
  /* background-color: #343a40; */
  /* background-color: rgb(33, 158, 188); */
  background-color: rgb(2, 48, 71);
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header .logo img {
  width: 40px;
  margin-right: 10px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* header .nav-item {
  margin-right: 20px;
} */

/* header .nav-item:last-child {
  margin-right: 0;
} */

header .nav-link {
  color: #fff;
  /* font-weight: bold; */
  font-size: large;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

header .nav-link:hover {
  /* background-color: #fff; */
  /* color: rgb(2, 48, 71); */
  /* color: rgb(251, 133, 0);*/
  color: rgb(33, 158, 188); 
  /* font-weight: bold; */
}

/* Main */
/* main {
  padding: 20px 0;
} */

/* main h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

main p {
  font-size: 18px;
  margin-bottom: 20px;
} */

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

th {
  text-align: left;
  background-color: rgb(33, 158, 188);
  /* color: #fff; */
  padding: 10px;
  cursor: pointer;
}

th:first-child {
  border-top-left-radius: 5px;
}

th:last-child {
  border-top-right-radius: 5px;
}

th:hover {
  background-color: rgb(142, 202, 230);
}

td {
  padding: 10px;
  border-bottom: 1px solid rgb(142, 202, 230);
}

td img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Footer */
footer {
  /* background-color: rgb(2, 48, 71); */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

footer p {
  margin: 0;
}

nav a img{
  width: 150px;
  /* height: 70px; */
}

/*Other*/
.search-container {
  margin-bottom: 10px;
}

.cont {
  margin:10px;
}

input{
  width: 80px;
}

/* form {
  margin-bottom: 10px;
  border: 1px solid #343a40;
  border-radius: 5px;
  padding: 10px;
} */


/* @media (min-width: 768px) {
  .container {
    visibility: visible;
  }
  .prueba{
    visibility: hidden;
  }
} */

/*mobile friendly*/
.table{
  /* visibility: collapse;  */
  display: none;
}

/* .mobile-card{
  visibility: visible;
} */

.mobile-card img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
@media (min-width: 820px) {
  .table {
    /* visibility: visible; */
    display: table;
  }
  .mobile-card{
    /* visibility: collapse; */
    display: none;
}
}
/* ________ */

/* Define a CSS class for the bold and green style */
.bold-green {
  font-weight: bold;
  color: green;
}

/* Define a CSS class for the bold and green style */
.bold-red {
  font-weight: bold;
  color: red;
}

.bg-green {
  background-color: green;
}
.bg-red{
  background-color: red;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
}

.realgoals{
  font-size: .7rem;
  color: gray;
}

.navbar-nav{
  text-align:right;
}

.table th {
  max-width: 150px; /* Adjust the maximum width as needed */
  white-space: normal;
}
.filter-header {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.text-center {
  text-align: center;
}
.align-top {
  vertical-align: top;
}